.Posts {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-end; 
  /* flex-flow: column nowrap; */     
  flex-direction: column; 
  flex-wrap: nowrap; 
  align-content: flex-end;
  margin-right: 2%;
  margin-top: 2%;
}